body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #f5f5f5;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: #222;
  border-radius: 6px;
  padding: 1px;
  margin-left: 20px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px 8px;
  background: transparent;
  color: #f5f5f5;
}

.search-box button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #00ff88; /* matches hover color */
  font-size: 16px;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .search-box {
    margin-top: 10px;
    width: 50%;
  }

  .search-box input {
    flex: 1;
    width: 50%;
  }
}


/* Responsive for smaller screens */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}


main {
  padding: 30px;
}

.game-list {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: auto;
}

.game-list li {
  margin: 15px 0;
}

.game-list a {
  display: block;
  padding: 12px 20px;
  background: #222;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.game-list a:hover {
  color: #00ff88;
 
}
